/*PANEL*/
.panel {
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
}
/*Different Topics Container*/
.left-side {
	background: #FFF;
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: center;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.7),
					0 0 30px rgba(0,0,0,0.5);
}

/*Google Form Container*/
.right-side {
	background: #fff;
	height: 100%;
	width: 75%;
}
.left-side ul {
	margin: 50px;
	margin-top: 150px;
}
.left-side li {
	list-style-type: none;
	cursor: pointer;
	color: #FA4B37;
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.left-side li:hover {
	color: #000;
	font-size: 1.5em;
	font-weight: 900;
	transition: .3s ease-in-out;
}

#quiz-container {
	margin-top: 80px;
	width: 100%;
	height: 100%;
}

.quiz-frame {
	width: 100%;
	height: 95vh;
	border: none;
}
.main-frame {
	background: url('../../assets/extra/quiz.jpg');
	background-size: cover;
	background-position: center;
}
.main-frame p {
	font-size: 5em;
	font-weight: 900;
	color: #2E3D49;
}

.displayN{
    display: none;
}

.displayB{
    display: block;
}